body {
    width: 95vw;
    height: 90vh;
    margin: 10px auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: white;
    align-items: center;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.header-left {
    font-size: larger;
}

.header-right {
    font-size: small;
    color: white;
    text-decoration: none;
}

main {
    margin: 20px auto;
}

main > * {
    margin: 20px auto;
}

label {
    width: 20%;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-with-label {
    width: 28%;
    display: flex;
    align-items: center;
}

.input-box, .select-box {
    margin-left: 10px;
    height: 25px;
    width: 70%;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2e2e2;
}

th, td {
    border: 1.5px solid #ccc;
    text-align: center;
    padding: 6px;
}

th {
    background-color: #f2e2e2;
}

.button-in-table {
    margin: 5px;
}

footer {
    background-color: gray;
    color: white;
    align-content: center;
    text-align: center;
    font-size: small;
    height: 60px;
}
